In [20]:
import pandas as pd
import scipy.stats as stats

In [24]:
samData = pd.read_csv('Testing_Of_Hypothesis.csv')
samData

    Sr No S_Cust_id  Samsung_Score Apple_Cust_id  Apple_Score
0       1   S336499             94       A336525           82
1       2    S73004             99        A73011           83
2       3    S79537             74        A79538           88
3       4   S769168             74       A769222           80
4       5   S609791             83       A609801           74
..    ...       ...            ...           ...          ...
95     96   S285617             77       A285629           87
96     97   S324135             85       A324151           82
97     98   S292076             83       A292091           88
98     99   S936528             82       A936566           91
99    100   S489010            100       A489031           95

[100 rows x 5 columns]

# Average samsung satisfaction is minimum 75%

## We have satisfaction score by customers and we have minimum percentage = 75%

 - H0 : Satisfaction score == 75%
 - H1 : Satisfaction score != 75%

In [26]:
samData.Samsung_Score.mean()

84.9

In [7]:
# 75% of 84.9 to find popmean 

pop = 84.9 * 0.75

In [27]:
Test1 = stats.ttest_1samp(samData.Samsung_Score, popmean= pop)
Test1

Ttest_1sampResult(statistic=17.91966173190184, pvalue=7.714674273163621e-33)

In [11]:
Test1.pvalue > 0.05

False

## Since p-value is less than 0.05, we reject null hypothesis. Therefore, the Samsung customer satisafaction is not equal to 75%

# Average satisfaction score of apple customers

 - H0 : Satisfaction score of apple == satisfaction score of samsung
 - H1 : Satisfaction score of apple != satisfaction score of samsung

In [30]:
test_eq = stats.ttest_ind(samData.Samsung_Score, samData.Apple_Score,
                         equal_var= True)

test_eq

Ttest_indResult(statistic=-1.9064295935043472, pvalue=0.058042614444118075)

In [31]:
test_uneq = stats.ttest_ind(samData.Samsung_Score, samData.Apple_Score,
                         equal_var= False)

test_uneq

Ttest_indResult(statistic=-1.9064295935043474, pvalue=0.05810311766331876)

## Since the stats score is same, we will consider equal variance

In [32]:
test_eq.pvalue > 0.05

True

## Since pvalue is not less than 0.05, we failed to reject the null hypothesis. Therefore, satisfaction score of both apple and samsung is equal